In [ ]:
# Exercise 2 - Title of the Notebook
Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Introduction  
This notebook provides an overview of Data Science languages,
libraries, and tools.

In [ ]:
# Exercise 4 - Data Science Languages  
- Python  
- R  
- SQL  
- Julia  
- Scala

In [ ]:
# Exercise 5 - Data Science Libraries  
- NumPy  
- Pandas  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- PyTorch

In [ ]:
# Exercise 6 - Data Science Tools  
| Tool Name       | Purpose              
|---------------|----------------------|  
| Jupyter Notebook | Code & Documentation |  
| RStudio        | Statistical Computing |  
| Apache Spark   | Big Data Processing   |  
| TensorFlow     | Machine Learning      |  
| Tableau        | Data Visualization    |

In [ ]:
# Exercise 7 - Arithmetic Expressions  
Below are some examples of arithmetic operations in Python.

In [ ]:
# Exercise 8 - Multiply and add numbers
result = (5 * 7) + 3
result

In [ ]:
# Exercise 9 - Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

In [ ]:
# Exercise 10 - Objectives  
- List programming languages used in Data Science  
- Identify common Data Science libraries  
- Describe essential Data Science tools  
- Perform basic arithmetic operations  
- Convert time from minutes to hours

In [ ]:
# Exercise 11 - Author's Name  
Nurfatihah Hamzah